Repository 42organization/42gg.client, pull requests merged in 2023-02, with the labels that each got.

#634 [Fix] 공지사항 작업 중 관리자 페이지 레이아웃 css 변경 우선 PR #625
  components/admin/Layout.tsx
  components/admin/announcement/AnnounceEdit.tsx
  package-lock.json
  package.json
  pages/admin/announcement.tsx
  styles/admin/Layout.module.scss
  styles/admin/SideNav.module.scss
  styles/admin/announcement/AnnounceEdit.module.scss
Labels: enhancement, admin

#629 Feat/make notification table #627
  components/admin/notifications/CreateNotiButton.tsx
  components/admin/notifications/NotificationTable.tsx
  package-lock.json
  package.json
  pages/api/admin/notifications/index.ts
Labels: enhancement

#628 Test/make mock penalty and noti #626
  components/admin/notifications/CreateNotiButton.tsx
  components/admin/notifications/NotificationTable.tsx
  package-lock.json
  package.json
  pages/api/admin/notifications/[intraId].ts
  pages/api/admin/notifications/index.ts
  pages/api/admin/penalty/users/[intraId]/detail.ts
  pages/api/admin/penalty/users/[intraId]/index.ts
  pages/api/admin/penalty/users/index.ts
Labels: enhancement

#638 [Chore] update package-lock.json
  package-lock.json
Labels: bug

#640 [Feat] make notification page
  components/admin/common/AdminSearchBar.tsx
  components/admin/notification/CreateNotiButton.tsx
  components/admin/notification/NotificationTable.tsx
  components/admin/notifications/NotificationTable.tsx
  pages/admin/notification.tsx
  pages/api/admin/notifications/[intraId].ts
  pages/api/admin/notifications/index.ts
  pages/api/pingpong/admin/notifications/[intraId].ts
  pages/api/pingpong/admin/notifications/index.ts
  pages/api/pingpong/admin/penalty/users/[intraId]/detail.ts
  pages/api/pingpong/admin/penalty/users/[intraId]/index.ts
  pages/api/pingpong/admin/penalty/users/index.ts
  styles/admin/common/AdminSearchBar.module.scss
  styles/admin/common/Pagination.module.scss
  styles/admin/notification/CreateNotificationButton.module.scss
  styles/admin/notification/NotificationTable.module.scss
  types/admin/tableTypes.ts
Labels: help wanted, question, admin

#645 Feat/관리자용 모달 구현#622
  components/modal/ModalProvider.tsx
  components/modal/admin/AdminFeedbackCheckModal.tsx
  components/modal/admin/AdminNotiAllModal.tsx
  components/modal/admin/AdminNotiUserModal.tsx
  components/modal/admin/AdminPenaltyModal.tsx
  components/modal/admin/AdminProfileModal.tsx
  components/modal/profile/EditProfileModal.tsx
  hooks/useUploadImg.ts
  package.json
  pages/admin/feedback.tsx
  pages/admin/penalty.tsx
  pages/admin/users.tsx
  pages/api/admin/users/index.ts
  pages/api/admin/users/intraId/penalty.ts
  styles/admin/modal/AdminFeedbackCheck.module.scss
  styles/admin/modal/AdminNotiAll.module.scss
  styles/admin/modal/AdminNotiUser.module.scss
  styles/admin/modal/AdminPenalty.module.scss
  styles/admin/modal/AdminProfile.module.scss
  types/admin/adminUserTypes.ts
  types/modalTypes.ts
  types/userTypes.ts
Labels: help wanted, admin

#653 Chore/apply codeonwers
  .github/CODEOWNERS
Labels: enhancement

#660 Feat/toast message 기능 추가 #655
  components/modal/admin/AdminNotiAllModal.tsx
  components/toastmsg/toastmsg.tsx
Labels: enhancement, help wanted

#649 Feat/관리자 유저 모달 개선 #647
  components/modal/ModalProvider.tsx
  components/modal/admin/AdminProfileModal.tsx
  hooks/useUploadImg.ts
  package-lock.json
  pages/admin/users.tsx
  pages/api/admin/users/index.ts
  styles/admin/modal/AdminProfile.module.scss
  types/admin/adminUserTypes.ts
  types/modalTypes.ts
Labels: enhancement, admin

#659 Feat/make feedback page
  components/admin/feedback/FeedbackTable.tsx
  components/admin/notification/NotificationTable.tsx
  components/modal/ModalProvider.tsx
  components/modal/admin/AdminFeedbackCheckModal.tsx
  components/modal/admin/FeedbackDetailModal.tsx
  constants/admin/table.ts
  pages/admin/feedback.tsx
  pages/api/pingpong/admin/feedback/index.ts
  pages/api/pingpong/admin/feedback/is-solved.ts
  styles/admin/feedback/FeedbackTable.module.scss
  styles/admin/modal/AdminFeedbackCheck.module.scss
  types/admin/tableTypes.ts
  types/modalTypes.ts
Labels: enhancement, admin

#664 Feat/make user management page
  components/admin/users/UserManagementTable.tsx
  pages/admin/users.tsx
  styles/admin/users/UserManagementTable.module.scss
Labels: enhancement, admin

#675 [Fix] <Script/> id 추가 #674
  pages/_app.tsx
Labels: enhancement

#667 Fix/일반 유저가 관리자 페이지 접근 가능한 문제 #665
  components/Layout/Layout.tsx
  components/admin/AdminReject.tsx
  styles/admin/AdminReject.module.scss
Labels: bug

#676 Feat/관리자 전체 유저 알림 모달 개선 #650
  components/admin/notification/CreateNotiButton.tsx
  components/modal/ModalProvider.tsx
  components/modal/admin/AdminNotiAllModal.tsx
  components/toastmsg/toastmsg.tsx
  pages/_app.tsx
  styles/admin/modal/AdminNotiAll.module.scss
  utils/recoil/toast.ts
Labels: enhancement, admin

#695 [Fix] modify property in sendNotification API #694
  components/modal/admin/AdminFeedbackCheckModal.tsx
Labels: bug, admin

#697 [Feat] 관리자 전체 알림 모달 디자인 수정 #693
  components/modal/admin/AdminNotiAllModal.tsx
  styles/admin/modal/AdminNotiAll.module.scss
Labels: admin

#691 Feat/관리자 페이지 과거 announcement 조회 기능 추가 #677
  components/admin/announcement/AnnounceEdit.tsx
  components/admin/announcement/AnnounceList.tsx
  constants/admin/table.ts
  pages/admin/announcement.tsx
  styles/admin/Layout.module.scss
  styles/admin/SideNav.module.scss
  styles/admin/announcement/AnnounceEdit.module.scss
  styles/admin/announcement/AnnounceList.module.scss
  styles/admin/announcement/Announcement.module.scss
  types/admin/tableTypes.ts
Labels: bug, enhancement, admin

#699 [Feat] 관리자 특정 유저 알림 모달 css 수정 #698
  components/modal/admin/AdminNotiAllModal.tsx
  components/modal/admin/AdminNotiUserModal.tsx
  styles/admin/modal/AdminNoti.module.scss
  styles/admin/modal/AdminNotiUser.module.scss
Labels: enhancement, admin
