Repository 42organization/42gg.client, pull requests merged in 2023-03, with the labels that each got.

#702 [Fix] 유저 검색 intraID 고정 안되는 에러 수정 #701
  components/admin/common/AdminSearchBar.tsx
Labels: bug, admin

#708 [Fix] 관리자 특정 유저 알림 모달 내 유저 검색하기 기능 에러 수정 #669
  components/modal/ModalProvider.tsx
  components/modal/admin/AdminNotiAllModal.tsx
  components/modal/admin/AdminNotiUserModal.tsx
  styles/admin/modal/AdminNoti.module.scss
Labels: bug, admin

#711 Feat/관리자 유저 관리 패널티 모달 css 수정 #703
  components/modal/admin/AdminPenaltyModal.tsx
  styles/admin/modal/AdminPenalty.module.scss
Labels: admin

#726 [Feat] sns버튼 추가 #616
  components/modal/profile/EditProfileModal.tsx
  styles/user/Profile.module.scss
  types/userTypes.ts
  utils/recoil/user.ts
Labels: user

#707 Feat/update axios interceptor #656
  components/Layout/Layout.tsx
  components/toastmsg/toastmsg.tsx
  hooks/useAxiosWithToast.ts
Labels: enhancement, admin

#724 [Chore] modify link to admin page in main #723
  components/Layout/MenuBar.tsx
Labels: user

#715 Feat/스케쥴러 UI 변경 및 리팩토링 #696
  components/admin/SideNav.tsx
  components/admin/scheduler/SchedulerCurrent.tsx
  components/admin/scheduler/SchedulerMain.tsx
  components/admin/scheduler/SchedulerPreview.tsx
  components/admin/slot/SlotCurrent.tsx
  components/admin/slot/SlotMain.tsx
  components/admin/slot/SlotPreview.tsx
  components/match/MatchBoard.tsx
  components/match/MatchSlot.tsx
  components/match/MatchSlotList.tsx
  components/modal/match/MatchEnrollModal.tsx
  pages/admin/scheduler.tsx
  pages/admin/slot.tsx
  styles/admin/scheduler/SchedulerCurrent.module.scss
  styles/admin/scheduler/SchedulerEdit.module.scss
  styles/admin/slot/SlotCurrent.module.scss
  styles/admin/slot/SlotMain.module.scss
  styles/match/MatchBoard.module.scss
  styles/match/MatchSlotList.module.scss
  types/admin/adminSlotTypes.ts
  types/matchTypes.ts
  types/modalTypes.ts
Labels: enhancement, admin, user

#730 Feat/관리자 특정 유저 모달 api 붙이기 #709
  components/modal/admin/AdminNotiUserModal.tsx
  types/admin/adminNotiUserTypes.ts
Labels: enhancement, admin

#731 Feat/관리자 전체 알림 모달 api 붙이기 #713
  components/modal/admin/AdminNotiAllModal.tsx
  types/admin/adminNotiAllTypes.ts
Labels: admin

#722 Style/update style in content area #717
  components/admin/announcement/AnnounceList.tsx
  components/admin/feedback/FeedbackTable.tsx
  components/admin/notification/NotificationTable.tsx
  components/admin/users/UserManagementTable.tsx
  styles/admin/feedback/FeedbackTable.module.scss
  styles/admin/notification/NotificationTable.module.scss
  styles/admin/users/UserManagementTable.module.scss
Labels: admin

#732 Feat/스케쥴러 페이지 제작 #663
  components/admin/slot/SlotCurrent.tsx
  components/admin/slot/SlotMain.tsx
  components/admin/slot/SlotPreview.tsx
  components/match/MatchBoard.tsx
  components/match/MatchSlot.tsx
  components/match/MatchSlotList.tsx
  components/modal/match/MatchEnrollModal.tsx
  pages/admin/slot.tsx
  styles/admin/slot/SlotCurrent.module.scss
  styles/admin/slot/SlotMain.module.scss
  styles/match/MatchBoard.module.scss
  styles/match/MatchSlotList.module.scss
  types/admin/adminSlotTypes.ts
  types/matchTypes.ts
  types/modalTypes.ts
Labels: enhancement, admin, user

#734 [Feat] 승,패가 0일 때 ppp 1000으로 고정 #733
  components/modal/admin/AdminProfileModal.tsx
Labels: enhancement, admin

#739 Feat/ 게임 관리 스타일 변경 #738
  components/admin/games/GamesTable.tsx
  components/admin/slot/SlotMain.tsx
  styles/admin/games/GamesTable.module.scss
Labels: enhancement, admin

#741 Fix/몇몇 ts error 해결 및 리팩토링 #740
  README.md
  components/Layout/MenuBar.tsx
  components/Layout/NotiItem.tsx
  components/admin/games/GamesTable.tsx
  components/admin/notification/NotificationTable.tsx
  components/admin/slot/SlotCurrent.tsx
  components/admin/slot/SlotMain.tsx
  components/game/big/GameResultBigTeam.tsx
  components/match/MatchBoard.tsx
  components/modal/admin/AdminPenaltyModal.tsx
  components/modal/profile/EditProfileModal.tsx
  styles/admin/common/Pagination.module.scss
  styles/admin/feedback/FeedbackTable.module.scss
  styles/admin/games/GamesTable.module.scss
  styles/admin/modal/AdminFeedbackCheck.module.scss
  styles/admin/modal/AdminNoti.module.scss
  styles/admin/modal/AdminPenalty.module.scss
  styles/admin/modal/AdminProfile.module.scss
  styles/admin/modal/DeletePenaltyModal.module.scss
  styles/admin/notification/NotificationTable.module.scss
  styles/globals.css
  styles/load/CommingSoon.module.scss
  styles/modal/afterGame/AfterGameModal.module.scss
  styles/modal/afterGame/StatChangeModal.module.scss
  types/admin/gameLogTypes.ts
  utils/infinityScroll.ts
Labels: bug

#744 Feat/관리자 시즌 관리 페이지 추가 #692
  components/Layout/CurrentMatch.tsx
  components/admin/SideNav.tsx
  components/admin/games/GamesTable.tsx
  components/admin/notification/NotificationTable.tsx
  components/admin/season/SeasonCreate.tsx
  components/admin/season/SeasonList.tsx
  components/admin/slot/SlotMain.tsx
  components/match/MatchSlot.tsx
  components/modal/ModalProvider.tsx
  components/modal/admin/SeasonEdit.tsx
  components/modal/match/MatchCancelModal.tsx
  components/modal/match/MatchManualModal.tsx
  constants/admin/table.ts
  pages/admin/season.tsx
  styles/admin/modal/SeasonEdit.module.scss
  styles/admin/season/SeasonCreate.module.scss
  styles/admin/season/SeasonList.module.scss
  styles/admin/slot/SlotMain.module.scss
  types/admin/gameLogTypes.ts
  types/admin/tableTypes.ts
  types/matchTypes.ts
  types/modalTypes.ts
  utils/recoil/match.ts
Labels: enhancement, admin

#745 [Fix] isImminent 수정
  components/Layout/CurrentMatch.tsx
  components/modal/match/MatchCancelModal.tsx
Labels: bug

#749 [Fix] 콘솔에러 수정
  components/admin/slot/SlotMain.tsx
  components/modal/admin/AdminFeedbackCheckModal.tsx
Labels: bug

#759 Feat/update development setup #758
  .github/CODEOWNERS
  .gitignore
  .husky/pre-commit
  .husky/prepare-commit-msg
Labels: enhancement

#764 Chore/update project guide #757
  README.md
  components/Layout/Footer.tsx
  package-lock.json
  package.json
Labels: documentation
