Repository 42organization/42gg.client, pull requests merged in 2024-04, with the labels that each got.

#1329 [Fix] 세부 내역 방 버그 수정 #1317
  components/modal/Party/PartyReportModal.tsx
  components/party/roomDetail/PartyDetailButton.tsx
  components/party/roomDetail/PartyDetailContentCommentBox.tsx
  components/party/roomDetail/PartyDetailProfile.tsx
  components/party/roomDetail/PartyDetailTitleBox.tsx
  pages/party/[roomId]/index.tsx
  styles/party/PartyDetailRoom.module.scss
  types/modalTypes.ts
  types/partyTypes.ts
  utils/color.ts
Labels: bug, user

#1340 Feat/어드민사이드바 파티관리 아코디언메뉴 #1339
  components/admin/SideNav.tsx
  components/admin/party/PartyNav.tsx
  pages/admin/party.tsx
  pages/admin/partyCategory.tsx
  pages/admin/partyPenalty.tsx
  pages/admin/partyReport.tsx
  pages/admin/partyRoom.tsx
  pages/admin/partyTemplate.tsx
  styles/admin/SideNav.module.scss
Labels: enhancement, admin

#1344 [Feat] 파티프리뷰 활성화방없을시 처리
  components/main/PartyPreview.tsx
Labels: enhancement, user

#1345 Feat/파티 패널티시 방 참여 및 생성 제한 #1341
  components/Layout/Header.tsx
  components/admin/party/PartyCategory.tsx
  components/modal/Party/PartyRoomEditModal.tsx
  components/modal/admin/AdminTemplateModal.tsx
  components/modal/modalType/AdminModal.tsx
  components/modal/modalType/PartyModal.tsx
  components/party/PartyMain.tsx
  components/party/roomDetail/PartyDetailButton.tsx
  components/party/roomDetail/PartyDetailProfile.tsx
  hooks/party/usePartyCategory.ts
  hooks/party/usePartyPenaltyTimer.ts
  hooks/party/usePartyTemplate.ts
  pages/party/index.tsx
  styles/party/PartyDetailRoom.module.scss
  styles/party/PartyMain.module.scss
  utils/handleTime.ts
Labels: bug, enhancement, user

#1327 [Fix] 모집 유저 기능의 mock api 제거
  components/modal/recruitment/CancelModal.tsx
  components/tournament/TournamentMegaphone.tsx
  hooks/recruit/useCheckRecruit.ts
  hooks/recruit/useGetRecruitResult.ts
  hooks/recruit/useInfiniteRecruitList.ts
  hooks/recruit/useRecruitDetail.ts
  hooks/recruit/useRecruitDetailUser.ts
  hooks/recruit/useUserApplicationForm.ts
Labels: bug, user, recruit

#1347 [Bug] test-deploy 빌드 오류 수정
  components/modal/modalType/AdminModal.tsx
  pages/api/pingpong/party/rooms/[roomId]/index.ts
  types/partyTypes.ts
Labels: test deploy

#1348 [test-deploy] Party -> party import경로 대소문자 오류 수정 후 테스트 재배포
  components/modal/party/PartyReportModal.tsx
  components/modal/party/PartyRoomEditModal.tsx
  styles/admin/party/AdminPartyCommon.module.scss
  styles/admin/party/PartyRoomEdit.module.scss
Labels: test deploy

#1349 [test-deploy] react-icons 버전에 따른 party 공유, 신고 아이콘 종류 변경 후 테스트 재배포
  components/party/roomDetail/PartyDetailButton.tsx
Labels: test deploy

#1337 [Feat] 지원자페이지 구현
  components/admin/common/AdminTable.tsx
  components/admin/recruitments/recruitmentsuser/DetailRecruitUserList.tsx
  components/admin/recruitments/recruitmentsuser/FilterOptions.tsx
  components/admin/recruitments/recruitmentsuser/NotificationResults.tsx
  components/admin/recruitments/recruitmentsuser/RecruitSearchBar.tsx
  components/admin/recruitments/recruitmentsuser/renderTableCells.tsx
  constants/admin/table.ts
  hooks/recruitments/useRecruitmentUserFilter.ts
  pages/api/pingpong/admin/recruitments/[id].ts
  styles/admin/common/AdminTable.module.scss
  styles/admin/recruitments/RecruitmentsUser.module.scss
  types/admin/adminRecruitmentsTypes.ts
Labels: admin, recruit

#1351 [Feat] 면접 결과 안내 메시지 템플릿 조회 / 등록 api 연결
  components/admin/recruitments/recruitmentsuser/tmplateEditor.tsx
  components/modal/admin/AdminRecruitMessageTemplateModal.tsx
Labels: admin, recruit

#1352 [Fix] 타입 에러로 인한 빌드 에러 수정
  components/admin/recruitments/recruitmentsDetail/components/QuestionForm.tsx
  components/admin/recruitments/recruitmentsEdit/components/ActionSelectorButtons.tsx
  components/admin/recruitments/recruitmentsEdit/components/QuestionFormBuilder.tsx
  hooks/recruitments/useRecruitmentEditInfo.ts
  types/admin/adminRecruitmentsTypes.ts
Labels: bug, admin, recruit

#1354 [Feat] 임시 결과 등록 모달 추가
  components/admin/recruitments/recruitmentsuser/NotificationResults.tsx
  components/modal/admin/AdminRecruitResultModal.tsx
  components/modal/modalType/AdminModal.tsx
  types/modalTypes.ts
Labels: admin, recruit

#1356 [Feat] mockinstance 제거
  components/admin/recruitments/RecruitmentsHistoryList.tsx
  components/admin/recruitments/recruitmentsDetail/RecruitmentDetail.tsx
  components/admin/recruitments/recruitmentsEdit/components/ActionSelectorButtons.tsx
  components/admin/recruitments/recruitmentsuser/NotificationResults.tsx
  hooks/recruitments/useRecruitmentEditInfo.ts
  hooks/recruitments/useRecruitmentUserFilter.ts
Labels: admin, recruit

#1360 [Fix] recruit admin api 연결 중 발생한 에러 수정 (조회 api 위주)
  components/admin/recruitments/RecruitmentsHistoryList.tsx
  components/admin/recruitments/recruitmentsDetail/RecruitmentDetail.tsx
  components/admin/recruitments/recruitmentsEdit/components/ActionSelectorButtons.tsx
  components/admin/recruitments/recruitmentsuser/DetailRecruitUserList.tsx
  components/admin/recruitments/recruitmentsuser/FilterOptions.tsx
  components/admin/recruitments/recruitmentsuser/NotificationResults.tsx
  components/admin/recruitments/recruitmentsuser/RecruitSearchBar.tsx
  hooks/recruitments/useRecruitmentEditInfo.ts
  hooks/recruitments/useRecruitmentUserFilter.ts
  types/admin/adminRecruitmentsTypes.ts
Labels: admin, recruit

#1361 [test-deploy] recruit admin 수정사항 배포
  components/admin/recruitments/RecruitmentsHistoryList.tsx
  components/admin/recruitments/recruitmentsDetail/RecruitmentDetail.tsx
  components/admin/recruitments/recruitmentsEdit/components/ActionSelectorButtons.tsx
  components/admin/recruitments/recruitmentsuser/DetailRecruitUserList.tsx
  components/admin/recruitments/recruitmentsuser/FilterOptions.tsx
  components/admin/recruitments/recruitmentsuser/NotificationResults.tsx
  components/admin/recruitments/recruitmentsuser/RecruitSearchBar.tsx
  hooks/recruitments/useRecruitmentEditInfo.ts
  hooks/recruitments/useRecruitmentUserFilter.ts
  types/admin/adminRecruitmentsTypes.ts
Labels: admin, test deploy, recruit

#1363 [Fix] recruit user api 연결 중 발견된 에러 수정
  components/recruit/RecruitList/RecruitListItem.tsx
  hooks/recruit/useUserApplicationForm.ts
Labels: bug, user, recruit

#1364 [Fix] 지원 결과 조회 api 수정
  components/recruit/Main/MyApplicationInfo.tsx
  components/recruit/Main/MyRecruitment.tsx
Labels: bug, user, recruit

#1365 [test-deploy] recruit user api 수정사항 배포
  components/recruit/Main/MyApplicationInfo.tsx
  components/recruit/Main/MyRecruitment.tsx
  components/recruit/RecruitList/RecruitListItem.tsx
  hooks/recruit/useUserApplicationForm.ts
Labels: test deploy

#1366 [Fix] 지원서 확인하기 페이지 url 수정
  components/recruit/Main/MyApplicationInfo.tsx
Labels: bug, user, recruit

#1367 [test-deploy] 지원서 확인하기 페이지 url 수정
  components/recruit/Main/MyApplicationInfo.tsx
Labels: test deploy

#1370 [Feat/Fix] 유저 공고 페이지 버그 수정, 헤더에 메인 이동 버튼 추가
  components/recruit/Application/applicationLayout/ApplicationFormHeader.tsx
  components/recruit/Main/MyRecruitStatus.tsx
  components/recruit/Main/MyRecruitment.tsx
  components/recruit/Main/RecruitStepper.tsx
  components/recruit/StickyHeader.tsx
  pages/api/pingpong/recruitments/[id]/applications/[applicationId]/result.ts
  pages/recruit/[id]/apply.tsx
  pages/recruit/[id]/my-application.tsx
  styles/recruit/application.module.scss
  styles/recruit/common.module.scss
  styles/recruit/layout.module.scss
  styles/recruit/text.module.scss
  types/recruit/recruitments.d.ts
Labels: bug, enhancement, user, recruit

#1372 [Fix] 지원서 보기/수정 페이지 api 응답 형식에 맞게 수정
  components/recruit/Application/applicationFormItems/MultiCheckForm.tsx
  components/recruit/Application/applicationFormItems/SingleCheckForm.tsx
  types/recruit/recruitments.d.ts
Labels: bug, user, recruit

#1383 [Fix] join, leave 버튼 위치 수정
  components/party/roomDetail/PartyDetailProfile.tsx
  styles/party/PartyDetailRoom.module.scss
Labels: test deploy

#1375 [Fix] 템플릿 메시지 등록, 조회 모달 api 연결 오류 수정 #1373
  .github/workflows/main-deploy.yml
  components/admin/recruitments/RecruitmentsHistoryList.tsx
  components/admin/recruitments/recruitmentsuser/tmplateEditor.tsx
  components/modal/admin/AdminRecruitMessageTemplateModal.tsx
  types/recruit/recruitments.d.ts
Labels: admin, recruit

#1379 Feat 관리자 공고 등록 수정 템플릿 #1256
  components/admin/recruitments/RecruitmentsHistoryList.tsx
  components/admin/recruitments/RecruitmentsMain.tsx
  components/admin/recruitments/recruitmentsDetail/RecruitmentDetail.tsx
  components/admin/recruitments/recruitmentsDetail/components/ActionSelectorButtons.tsx
  components/admin/recruitments/recruitmentsDetail/components/QuestionForm.tsx
  components/admin/recruitments/recruitmentsDetail/components/QuillDescriptionViewer.tsx
  components/admin/recruitments/recruitmentsEdit/RecruitmentEdit.tsx
  components/admin/recruitments/recruitmentsEdit/components/ActionSelectorButtons.tsx
  components/admin/recruitments/recruitmentsEdit/components/QuestionFormBuilder.tsx
  components/admin/recruitments/recruitmentsEdit/components/QuillDescriptionEditor.tsx
  components/admin/recruitments/recruitmentsEdit/components/TitleTimeRangeSelector.tsx
  components/admin/recruitments/recruitmentsuser/FilterOptions.tsx
  components/admin/recruitments/recruitmentsuser/renderTableCells.tsx
  hooks/recruitments/useRecruitmentEditInfo.ts
  hooks/recruitments/useRecruitmentUserFilter.ts
  pages/admin/recruitments.tsx
  types/admin/adminRecruitmentsTypes.ts
Labels: enhancement

#1387 [Fix] 동적 라우팅을 쿼리스트링으로 수정
  components/modal/recruitment/ApplyEditModal.tsx
  components/recruit/Main/MyApplicationInfo.tsx
  components/recruit/Main/MyRecruitment.tsx
  components/recruit/RecruitList/RecruitListItem.tsx
  pages/recruit/apply.tsx
  pages/recruit/detail.tsx
  pages/recruit/my-application.tsx
Labels: bug, user, recruit

#1394 [Fix] recruit build 에러 수정
  components/recruit/Application/ApplicationForm.tsx
  components/recruit/Application/applicationFormItems/MultiCheckForm.tsx
  hooks/recruit/useUserApplicationForm.ts
  types/recruit/recruitments.d.ts
  utils/handleApplicationForm.ts
Labels: bug, user, recruit

#1392 Fix/1388 지원자페이지 api연결 오류수정
  components/admin/recruitments/RecruitmentsHistoryList.tsx
  components/admin/recruitments/recruitmentsuser/DetailRecruitUserList.tsx
  components/admin/recruitments/recruitmentsuser/NotificationResults.tsx
  components/admin/recruitments/recruitmentsuser/RecruitmentFilterOptions.tsx
  components/admin/recruitments/recruitmentsuser/RenderTableCells.tsx
  components/modal/admin/AdminRecruitResultModal.tsx
  constants/admin/table.ts
  hooks/recruitments/useRecruitmentUserFilter.ts
  styles/admin/recruitments/RecruitmentsUser.module.scss
  types/admin/adminRecruitmentsTypes.ts
Labels: bug, admin, recruit

#1396 [test-deploy] admin 지원자페이지 api 버그 수정 배포
  components/admin/recruitments/RecruitmentsHistoryList.tsx
  components/admin/recruitments/recruitmentsuser/DetailRecruitUserList.tsx
  components/admin/recruitments/recruitmentsuser/NotificationResults.tsx
  components/admin/recruitments/recruitmentsuser/RecruitmentFilterOptions.tsx
  components/admin/recruitments/recruitmentsuser/RenderTableCells.tsx
  components/modal/admin/AdminRecruitResultModal.tsx
  constants/admin/table.ts
  hooks/recruitments/useRecruitmentUserFilter.ts
  styles/admin/recruitments/RecruitmentsUser.module.scss
  types/admin/adminRecruitmentsTypes.ts
Labels: test deploy, recruit

#1398 [Fix] 지원서 취소 이후 이동 url 변경
  components/modal/recruitment/CancelModal.tsx
Labels: bug, user, recruit

#1399 [test-deploy] url 수정 배포
  components/modal/recruitment/CancelModal.tsx
Labels: test deploy, recruit

#1402 [Fix] 모집지원서 텍스트폼 css 수정
  styles/recruit/application.module.scss
  styles/recruit/common.module.scss
Labels: bug, user, recruit

#1382 [Ci] 배포 github action yaml 파일에 party env 업데이트
  .github/workflows/main-deploy.yml
Labels: test deploy

#1406 Feat/파티 메뉴얼 작성 및 아이폰 글자 색상 수정 #1390
  components/modal/modalType/PartyModal.tsx
  components/modal/party/PartyManualModal.tsx
  components/party/PartyCreate.tsx
  components/party/PartyMain.tsx
  components/party/roomDetail/PartyDetailButton.tsx
  hooks/party/usePartyRoomList.ts
  pages/party/index.tsx
  styles/party/PartyCreate.module.scss
  styles/party/PartyDetailRoom.module.scss
Labels: bug, enhancement, user

#1407 [test-deploy] 파티 모집 메뉴얼 및 버그 수정 후 테스트 배포
  .github/workflows/main-deploy.yml
  components/main/PartyPreview.tsx
  components/modal/modalType/PartyModal.tsx
  components/modal/party/PartyManualModal.tsx
  components/party/PartyCreate.tsx
  components/party/PartyMain.tsx
  components/party/PartyRoomListItem.tsx
  components/party/roomDetail/PartyDetailButton.tsx
  hooks/party/usePartyRoomList.ts
  pages/party/index.tsx
  pages/party/room.tsx
  styles/party/PartyCreate.module.scss
  styles/party/PartyDetailRoom.module.scss
Labels: test deploy

#1408 [test-deploy] 파티모집 최종본 빌드 오류 수정 후 테스트 재배포
  styles/modal/party/PartyManualModal.module.scss
  styles/party/PartyCreate.module.scss
  styles/party/PartyMain.module.scss
  types/modalTypes.ts
Labels: test deploy

#1409 [test-build] PartyModal 빌드 오류에따른 import제거후 재배포
  components/modal/modalType/PartyModal.tsx
Labels: test deploy

#1410 [test-deploy] 파티생성시 마감기한 추가후 최종 테스트
  components/party/PartyCreate.tsx
  hooks/party/usePartyForm.ts
Labels: test deploy

#1411 [Fix] 공고모집 시간 이후 지원 수정 취소 기능 제한
  components/recruit/Application/ApplicationForm.tsx
  components/recruit/Application/applicationLayout/ApplicationFormFooter.tsx
  pages/recruit/detail.tsx
  pages/recruit/my-application.tsx
Labels: bug, user, recruit

#1415 [Feat] 지원하기 로딩 버튼 처리
  components/modal/recruitment/ApplyEditModal.tsx
  hooks/recruit/useUserApplicationForm.ts
Labels: user, recruit

#1420 [Bug] 파티 모집 배포이후 피드백 반영 #1414
  components/Layout/Header.tsx
  components/modal/party/PartyRoomEditModal.tsx
  constants/party/createOptions.ts
  hooks/party/usePartyForm.ts
  styles/admin/party/PartyRoomEdit.module.scss
  styles/party/PartyCreate.module.scss
Labels: bug

#1421 [test-deploy] 파티 모집 피드백 반영 테스트 배포
  README.md
  components/Layout/Header.tsx
  components/modal/party/PartyRoomEditModal.tsx
  constants/party/createOptions.ts
  hooks/party/usePartyForm.ts
  styles/admin/party/PartyRoomEdit.module.scss
  styles/party/PartyCreate.module.scss
  types/modalTypes.ts
Labels: test deploy

#1422 [Bug] 파티 모집 배포 후 피드백 방영 main 동기화
  components/Layout/Header.tsx
  components/admin/party/AdminCommentReport.tsx
  components/admin/party/AdminPartyNoShow.tsx
  components/admin/party/AdminPartyRoomReport.tsx
  components/admin/party/PartyTemplate.tsx
  components/modal/admin/AdminTemplateModal.tsx
  components/modal/party/PartyRoomEditModal.tsx
  constants/party/createOptions.ts
  hooks/party/usePartyForm.ts
  styles/admin/party/AdminPartyCommon.module.scss
  styles/admin/party/PartyRoomEdit.module.scss
  styles/party/PartyCreate.module.scss
Labels: bug

#1424 [test-deploy] 파티 상세페이지에서 뒤로가기하면 항상 파티 메인으로 이동
  components/main/PartyPreview.tsx
Labels: enhancement, test deploy

#1425 [Feat] 파티 상세페이지에서 뒤로가기하면 항상 파티 메인으로 이동하게 수정
  components/main/PartyPreview.tsx
Labels: enhancement

#1423 [deploy] 파티 모집 버그 피드백 반영 후 배포
  README.md
  components/Layout/Header.tsx
  components/admin/party/AdminCommentReport.tsx
  components/admin/party/AdminPartyNoShow.tsx
  components/admin/party/AdminPartyRoomReport.tsx
  components/admin/party/PartyTemplate.tsx
  components/main/PartyPreview.tsx
  components/modal/admin/AdminTemplateModal.tsx
  components/modal/party/PartyRoomEditModal.tsx
  constants/party/createOptions.ts
  hooks/party/usePartyForm.ts
  styles/admin/party/AdminPartyCommon.module.scss
  styles/admin/party/PartyRoomEdit.module.scss
  styles/party/PartyCreate.module.scss
Labels: deploy
